<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ESC_Project.DAL.BD.conexion" connectionString="Data Source=POTTEROLEAGA\SQLEXPRESS;Initial Catalog=ESC_PROJECT;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>